@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: beige;
  --bg-darker: burlywood;
  --text: #000;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}
